body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f0f0f0e1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(FundoLogin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.container {
    background-color: rgba(0, 0, 0, 0.68);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 450px;
    text-align: center;
    color: rgb(255, 255, 255);
}
 

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 3px;
    color: #000000;
    background-color: #ffffffc0;
}

.form-group button::before {
    width: 100%;
    padding: 10px;
    background-color: #015630c5;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.form-group button:active {
    width: 100%;
    padding: 10px;
    background-color: #015630c5;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.form-group button::after {
    width: 100%;
    padding: 10px;
    background-color: #015630c5;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #242424ce;
}

